body {
    font-family: monospace; 
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;


    table {
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 100;
        column-width: 24px;
        border-spacing: 8px;
        
        th:first-child {
            column-width: 450px;
            width: 450px;
        }

        th {
            background-color: #f5f5f5;     
        }
        
        td {
            background-color: #e4e4e4;
            height: 24px;
            width: 24px;
            padding: 0;
        }
        
        .compatibility{
            appearance: none;
            -webkit-appearance: none;
            background-color: #e4e4e4;
            height: 100%;         
            width: 100%;
            margin: 0;
            padding: 0;
            display: inline-block;
            position: relative;
            &:checked{
                background-color: #0070bd;

            }
        }

        .model-name {
            padding: 0 8px;
        }      

        .logo {
            height: 150px;
            margin: 8px 0;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            object-fit: cover;
        }

        .header {
            height:100px;
            white-space: nowrap;

            div {
                transform: 
                    translate(0px, 67px)
                    rotate(270deg);
                font-weight: lighter;
                width: 24px;
            }          
        }        
    }
}
